{{template "base" . }}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>This is a Golang webapp starter template page</h3>
        </div>
    </div>
</div>
{{end}}